@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Roboto:ital,wght@0,300;0,400,600;1,700&display=swap");
@import "bigSlider.css";
@import "button.css";
@import "card.css";
@import "footer.css";
@import "MegaMenu.css";
@import "NavMenuDesktop.css";
@import "NavMenuMobile.css";
@import "typo.css";
@import "megaMenuMobile.css";
@import "responsive.css";
@import "megaMenuAll.css";
@import "common.css";
@import "onboard.css";


body{
    background-color: white;

}