@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Roboto:ital,wght@0,300;0,400,600;1,700&display=swap");
@import "bigSlider.css";
@import "button.css";
@import "card.css";
@import "footer.css";
@import "MegaMenu.css";
@import "NavMenuDesktop.css";
@import "NavMenuMobile.css";
@import "typo.css";
@import "megaMenuMobile.css";
@import "responsive.css";
@import "megaMenuAll.css";
@import "common.css";
@import "onboard.css";
@import "productDetails.css";


body{
    background-color: white;

}

.bar-img{
    height: 20px;
    width: 20px;
}

.cart-product-img{
    width: 80px;
    height: 110px;
    margin-left: 80px;
}

.container_subNav {
  
    display: inline-block;
   
  }
  
  .inner_subNav {
    
    display: inline-block;
   
  }
  
  .child_subNav {
   
    display: inline-block;
   
  }