.footerback{
    background-color: #051b35;
}
.footer-text{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.footer-link{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.footer-link:hover{
    text-decoration: none;
    
    color: slateblue;
}

.footer-menu-title{
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}